.aider*


# Ignore specific files and directories within src/
src/**/__pycache__/
src/**/*.egg-info/


# Ignore build and dist directories
build/
dist/

src/lp_labelstudio/web_server/test_images/*.json
.env

test_batches/*
!test_batches/default_mets.xml
!test_batches/create_awardee_title.py
